@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --title: #444343;
  --text: #181717;
  --label: #606060;
  --primary: #f0e5cf;
  --secondary: #c8c6c6;
  --background: #f7f6f2;
  --accent: #4b6587;
  --accent-2: #B9CFEC;

  --hero-overlay: rgba(68, 67, 67, 0.25);
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: "Montserrat";
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
}

input[type="checkbox"] {
  accent-color: var(--primary);
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Internet Explorer 10+ */
input[type="number"] {
  -ms-appearance: textfield;
}

.accent2{
    color: var(--accent-2);
}

.messenger{
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 180px;
  height: 60px;
  background-color: #006AFF;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  display: flex;
  padding-inline: 15px;
  align-items: center;
  justify-content: space-between;
  z-index: 998;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in;
}

.messenger.mobile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  padding: 0;
}

.messenger:hover{
  transform: scale(1.1);
}

.messenger > svg{
  width: 40px;
  height: 40px;
}

.messenger.mobile > svg{
  width: 55%;
  height: 55%;
}

.messenger > svg *{
  color: white;
}

@media only screen and (max-width: 767px){
  .messenger{
      right: 20px;
      bottom: 20px;
  }
}